{
  "openapi": "3.0.3",
  "info": {
    "title": "Pacepard API",
    "description": "A simple Pacepard API example using OpenAPI 3.0.3",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.pacepard.com/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/mentors/hackathon/:id": {
      "get": {
        "summary": "Get all mentors related to an Hackathon",
        "operationId": "getAllMentors",
        "tags": ["Mentors"],
        "responses": {
          "200": {
            "description": "List of Mentors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "items": {
                    "$ref": "#/components/schemas/ApiResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Mentor",
        "operationId": "addMentor",
        "tags": ["Mentors"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MentorCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mentor Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Todo": {
        "type": "object",
        "required": ["id", "title", "completed"],
        "properties": {
          "id": {
            "type": "string",
            "example": "64fa1f2c7b8f3a0012a3e456"
          },
          "title": {
            "type": "string",
            "example": "Buy groceries"
          },
          "completed": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "MentorCreate": {
        "type": "object",
        "required": [
          "firstName",
          "lastName",
          "jobTitle",
          "organization",
          "bio",
          "areasOfExpertise",
          "yearsOfExperience",
          "email",
          "linkedInUrl",
          "githubUrl",
          "website",
          "hackathonId",
          "orgId"
        ],
        "properties": {
          "firstName": {
            "type": "string",
            "example": "Harry"
          },
          "lastName": {
            "type": "string",
            "example": "Dunnie"
          },
          "jobTitle": {
            "type": "string",
            "example": "Software Eng"
          },
          "organization": {
            "type": "string",
            "example": "Pacepard"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean",
            "description": "Indicates if there was an error"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message about the response"
          },
          "data": {
            "type": "object",
            "description": "Response payload, always an object, sometimes empty",
            "additionalProperties": true
          }
        },
        "required": ["error", "message", "data"]
      }
    }
  }
}
